#outlined {
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 3rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  background-image: url("./../../assets/curve-button.svg");
  background-repeat: no-repeat;
  text-shadow: var(--home-text-shadow);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));

  color: #FFFFFF;
}


#outlined:hover {
  cursor: pointer;
  color: #064743;
  box-shadow: inset 0 0 0 ;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius: 0px 35px;
}


#filled {
  cursor: pointer;
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 3rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  background-image: url("./../../assets/curve-button-inverted.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: var(--home-text-shadow);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));

  color: #FFFFFF;
}