.imgPriceCon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.imgPriceCon > .imgCon {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgPriceCon > .imgCon > .priceQuote {
    background-color: #FFFFFF;
    border-radius: 100px;
    height: fit-content;
    width: 30%;
    height: 2rem;
    font-family: "Inter", sans-serif;
    position: absolute;
    z-index: 200;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--home-text-shadow);

  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;

  }

  .priceQuote > p {
    margin: 0;
    padding: .15rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;


  }




#boatImg {
    object-fit: cover;
    object-position: center;
    width: 70%;
    height: 50%;
    display: block;
    border-radius: 15px;
}
