@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
.mobile-content-container {
  width: 90dvw;
  height: 84dvh;
  background-color:#FFFFFF;
  border-radius: 15px;
  padding: 1.5rem;
  min-height:600px ;
  display: none;

  grid-template-columns: repeat(12, minmax(auto ,1fr));
  grid-auto-rows: 1.5fr 1fr;
  box-sizing: border-box;
  box-shadow: var(--home-text-shadow);
}

.priceQuoteCont {
  position: relative;

}

.mobile-content-container > .priceQuoteCont >img {
  height: 30dvh;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.mobile-content-container > .priceQuoteCont > video {
  max-height: clamp(20vh, 24vh, 165px);
  aspect-ratio: 16/9;
  border-radius: 15px;
}


#pricing {
  background-color: #2F6F66;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url();
  position: relative;
}


  .mobile-content-container{
    flex-direction: column;
    position: absolute;
    z-index: 2;
    justify-items: center;
    align-items: center;    
    display: none;
  }
@media screen and (max-width:600px) {
  .mobile-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(5, 1fr) ;
    gap: .75rem;
    justify-items: center;
    align-items: center;
  }
}
    .mobile-content-container > *{
        color: #2F6F66;
    }
  .mobile-content-container > h3 {
    font-family: 'Gill Sans MT','Gill Sans' , Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 1.5rem;
    margin: 0%;
  }

  .priceQuote {
    background-color: #FFFFFF;
    border-radius: 100px;
    height: fit-content;
    width: 30%;
    height: 2rem;
    font-family: "Inter", sans-serif;
    position: absolute;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--home-text-shadow);

  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;

  }

  .priceQuote > p {
    margin: 0;
    padding: .15rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;


  }


.duratonBtns {
  display: flex;
  justify-content: center;
  gap: .5rem;
}


.duratonBtns > button {
  border-radius: 100px;
  background-color: #2F6F66;
  color: #FFFFFF;
  height: 5dvh;
  width: 32dvw;
  border: none;


}



#customTime {
  border-radius: 100%;
  width: 5dvh;
  height: 5dvh;
  background-color: transparent;
  border: solid #2F6F66 2pt;
  background-image: url("/src/assets/add-icon.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}






  .pricingVideoContainer {
    position: absolute;
    z-index: 1;


  }
  #pricingBgVideo {
    height: 100dvh;
    opacity: 15%;
    object-fit: cover;
    aspect-ratio: 16/7;
  }



  #submitBttn{
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  background-image: url("./../../../assets/curve-button-inverted.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  padding: 0%;
  
}


.includedList {
  font-family: inter;
}

.includedList > ul > li {
  margin-bottom: .3rem;
}

h4 {
  margin: 0;
  padding: 0%;
}

.durCont {
  font-family: inter;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.durCont > p {
  margin: .35rem;
  padding: 0;
  align-self: center;
}

.custDurCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: .5rem;
}

.test {
  border-radius: 100px;
  border: #2F6F66 solid 2pt ;
  height: 4dvh;
  font-size: 16px !important;
}

