.priceWideScreenContainer {
    max-width: 1600px;
    height: 80%;
    width: 90%;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 2;
    border-radius: 15px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    min-width: 0;
    box-sizing: border-box;
    box-shadow: var(--home-text-shadow);
    box-sizing: border-box;
    padding: .8rem;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #064743;
    overflow: hidden;
 }

 @media  (min-width:600px) {
    .priceWideScreenContainer {
        display: grid;
    }
 }


 .dynamicPricingSect {
    border-radius: 15px 0px 0px 15px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 0;
    
 }


.dynamicPricingSect > .durCont > .durationBtns {
    min-width: 200px;
    max-width: 30%;
}

.dynamicPricingSect > .durCont > .durationBtns > #customTime {
    min-height: 5vh ;
    min-width: 5vh;
}

.dynamicPricingSect > .durCont > .custDurCont > div > div > #base-ui-_r_1_ {
    width: 50%;
}

