.navConatiner {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 1rem ;
  font-family: "Century ", sans-serif;
  position: fixed;
  top: 4%;
  user-select: none;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.509);
  z-index: 100;
  width: 100%;
  
  --navIndicatorYPost: 40%;
  }

@media (max-width:450px) {
.navConatiner {
  padding-left: 0%;
  width: 100dvw;
  justify-content: center;
  align-items: center;

 }
}

.navConatiner > a:hover {
  cursor: pointer;
}

/* .navConatiner > a:hover::after {
  content: '';
  display: inline-block;
  width: 10px; height: 10px;
  background: #181f2076; 
  border-radius: 50%;
  margin: 0; 
  position:absolute;
  z-index: 100;
  display: block;
  left: 50%;
  top: var(--navIndicatorYPost);
  translate:-50%;
} */

.navConatiner > a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: aliceblue;
  height: 5rem;
  -webkit-tap-highlight-color: transparent;
}
.navConatiner > a.active::after{
  content: '';
  width: 10px; height: 10px;
  background: #ccc; 
  border-radius: 50%;
  margin: 0; 
  position:absolute;
  display: block;
  left: 50%;
  top: var(--navIndicatorYPost);
  translate:-50%;
  transition: transform .5s ease;


}

.navConatiner > a:hover {
    transform: scale(1.2);
}

.navConatiner > a:hover.active {
    animation-name: none;

}

.navConatiner > a {
    transform:scale(1);
    transition: transform .5s ease;
}


a.active {
  transform: scale(1.25);
  transform: translateY(-0.5rem) scale(1.25);

}
