#root {
    width: 100%;
}
.bookingContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bookingContentContainer {
    background-color: #FFFF;
    height: 90%;
    width: 90%;
    border-radius:15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    box-sizing: border-box;
    padding: 1rem;

}

.bookingForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: rebeccapurple; */
}

.visual {
    /* background-color: palevioletred; */
    width: 100%;
    height: 100%;
}

.name, .contactFields {
    display: flex;
    gap: 1rem;
}
.bookingForm > .durCont {
    align-items: start;
    text-align: start;
    max-width: 462px;


}

.bookingForm > .durCont > p {
    align-self: self-start;
    color: #2F6F66;
    
}

.bookingForm > .durCont > .durationBtns {
    /* max-width: 462px; */
}
.bookingForm > .durCont > .durationBtns > button {
    /* max-width: 300px; */
    min-height: 56px;
}

.bookingForm > .durCont > .durationBtns > #customTime {
    min-width: 56px;
    min-height: 56px;
}


.bookingForm > .durCont > .custDurCont {
    justify-content: start;
}

.bookingForm > .durCont > .custDurCont {
    justify-content: start;
}
.bookingForm > .durCont >  * *  {
    min-height: 46px;
}

.bookingForm > .durCont > .custDurCont > div > div {
    max-width: 462px;
}

.bookingForm > .durCont > .custDurCont > div > div > button, img {
    min-width:64px ;
    object-fit: contain;
    padding: 0;
}

.bookingForm > .durCont > .custDurCont  input[id^="base-ui-_r_"] {
    border: #2F6F66 solid 3px;
    min-width: 325px;
    height: 10px;
}