.bk_mobile {
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 93vh; width: 93%;
    display: none;
    align-self: center; 
    justify-content: center;
}

@media (width < 880px ) {
    .bk_mobile {
        display: flex;
        
    }    
}



.bk_mobile input[id^="base-ui-_r_"] {
    border: #2F6F66 solid 3px;
    min-width: 315px;
    height: 5vh;
}

.bk_mobile > div[class^="MuiPickersLayout-root"] * {
    color: #2F6F66;
}

.bk_mobile div[class$="MuiDateCalendar-root"] button[aria-selected="true"]{
    color: #FFFFFF;
    background-color: #2F6F66;
}

.bk_mobile span[class$="-indicator"] {
    background-color: #2F6F66;
}

/* For Selected Time Values */
.bk_mobile ul[role='listbox'] li[aria-selected='true'] {
    background-color: #2F6F66;
    color: #FFFFFF;
    border-radius: 12px;
}

.bk_mobile button[role="gridcell"] {
    border-color: #2F6F66;
}