#root {
    --bookFromMaxWidth: 462px
}
.bookingContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bookingContentContainer {
    background-color: #FFFF;
    color: #2F6F66;
    height: auto;
    width: 90%;
    height: fit-content;
    border-radius:15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    box-sizing: border-box;
    padding: 1rem;
    max-width: 1600px;
}

.bookingForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.visual {
    width: 100%;
    height: 100%;
}

.name, .contactFields {
    display: flex;
    gap: 1rem;
}

.bookingForm > .durCont {
    align-items: start;
    text-align: start;
    max-width: var(--bookFromMaxWidth);
}

.bookingForm > .durCont > .durationBtns > button {
    min-height: 56px;
}

.bookingForm > .durCont > .durationBtns > #customTime {
    min-width: 56px;
    min-height: 56px;
} 


.bookingForm > .durCont > .custDurCont {
    justify-content: start;
}

.bookingContentContainer .bookingForm > .durCont > .custDurCont {
    justify-content: start;
}
.bookingContentContainer .bookingForm > .durCont >  * *  {
    min-height: 46px;
}

.bookingContentContainer > .bookingForm > .durCont > .custDurCont > div > div {
    max-width: var(--bookFromMaxWidth);
}

.bookingContentContainer >.bookingForm > .durCont > .custDurCont > div > div > button > img {
    object-fit: contain;
    padding: 0;
    min-width:64px ;

}

.bookingForm > .durCont > .custDurCont  input[id^="base-ui-_r_"] {
    border: #2F6F66 solid 3px;
    min-width: 315px;
    height: 10px;
}

.dateTimeInputs {
    background-color: #2F6F66;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    color: #FFFFFF;
}
.dateTimeInputs > div[class^="MuiPickersLayout-root"] * {
    color: #FFFFFF;
}

.dateTimeInputs  button[role="gridcell"] {
    border-color: #FFFFFF;
}
.dateTimeInputs div[class$="MuiDateCalendar-root"] button[aria-selected="true"]{
    color: #2F6F66;
    background-color: #FFFFFF;
}

.dateTimeInputs span[class$="-indicator"] {
    background-color: #FFFFFF;
}

.bookingContentContainer .imgCon,.imgPriceCon {
    height: fit-content;
    width: var(--bookFromMaxWidth);
}


