.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
.bookingContainer {
    display: grid;
    height: 90vh;
    width: 90vw;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #2F6F66;
    min-height: fit-content;
    max-width: 1600px;
}
@media (width < 880px) {
    .bookingContainer {
        display: none;
    }
}



.bookingForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.name, .contactFields {
    display: flex;
    gap: 1rem;
}

.bookingForm > .durCont {
    align-items: start;
    text-align: start;
    max-width: 462px;
}

.bookingForm > .durCont > .durationBtns > button {
    min-height: 56px;
}

.bookingForm > .durCont > .durationBtns > #customTime {
    min-width: 56px;
    min-height: 56px;
} 


.bookingForm > .durCont > .custDurCont {
    justify-content: start;
}

.bookingContentContainer .bookingForm > .durCont > .custDurCont {
    justify-content: start;
}
.bookingContentContainer .bookingForm > .durCont >  * *  {
    min-height: 46px;
}

.bookingContentContainer > .bookingForm > .durCont > .custDurCont > div > div {
    max-width: 462px;
}

.bookingContentContainer >.bookingForm > .durCont > .custDurCont > div > div > button > img {
    object-fit: contain;
    padding: 0;
    min-width:64px ;

}

.bookingForm > .durCont > .custDurCont  input[id^="base-ui-_r_"] {
    border: #2F6F66 solid 3px;
    min-width: 315px;
    height: 5vh;
}

.dateTimeInputs {
    background-color: #2F6F66;
    align-self: self-start;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    justify-content: center;
    color: #FFFFFF;
}
.dateTimeInputs > div[class^="MuiPickersLayout-root"] * {
    color: #FFFFFF;
}

.dateTimeInputs  button[role="gridcell"] {
    border-color: #FFFFFF;
}
.dateTimeInputs div[class$="MuiDateCalendar-root"] button[aria-selected="true"]{
    color: #2F6F66;
    background-color: #FFFFFF;
}

.dateTimeInputs span[class$="-indicator"] {
    background-color: #FFFFFF;
}

.bookingContainer .bookingContentContainer .imgCon,.imgPriceCon {
    height: fit-content;
    width: 100% ;
}

