.bookingContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bookingContentContainer {
    background-color: #FFFF;
    height: 90%;
    width: 90%;
    border-radius:15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    box-sizing: border-box;
    padding: 1rem;

}

.bookingForm {
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
}

.visual {
    /* background-color: palevioletred; */
    width: 100%;
    height: 100%;
}

.name {
    display: flex;
    gap: 1rem;
}