body {
  height: 100dvh;
  width: 100dvw;
}

#root {
  height: 100%;
  width: 100%;
  background-image: url("./assets/rpedq1k2eue5cnx2rxza786m.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scaleX(-1) */
}