@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sulphur+Point:wght@300;400;700&display=swap');


#root {
  height: 100%;
  width: 100%;
  position: relative;
  --home-text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.splashItems  {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Imprint MT Shadow";
  width: 100%;
  color: aliceblue;
  animation: fadeSlideUp forwards 1s ease-in-out;

}

.splashItems > p {
    margin-top: 4rem;
    margin-bottom: 3.25625rem;
    font-family: "Century Schoolbook";
    text-decoration: underline;
    text-decoration-thickness:  .2rem;
    text-underline-offset: -1.8rem;

}



.heroText {

  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
  height: clamp(30dvh, 35dvh, 225px);
  width: 100dvw;
  
  
}


.splashItems > button {
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 3rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  background-image: url("./assets/curve-button.svg");
  background-repeat: no-repeat;
  text-shadow: var(--home-text-shadow);
  transition: transform .2s ease, font-size .2s ease;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));

  color: #FFFFFF;
  
}

.splashItems > button:hover {
  cursor: pointer;
  color: #064743;
  box-shadow: inset 0 0 0 ;
  transform: scale(1.2);
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius: 0px 35px;
}



@keyframes zoomInOut {
  0%{
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
  
}

@keyframes fadeSlideUp {
  0%{
    opacity: 0;
    transform: translate(0, 10rem);
  }

  100%{
    opacity: 100%;
  }
}



#home {
  display: flex;
  justify-items: center;
  align-items: center;
  text-shadow: var(--home-text-shadow);
  min-height: 100lvh;
  position: relative;
}

#home > .wallpaper {
  height: 110%;
  width: 100dvw;
  position: absolute;
  background-image: url("./assets/rpedq1k2eue5cnx2rxza786m.webp");
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoomInOut 10s ease-in-out infinite alternate;
  z-index: -1;
  
  top: calc(-1*env(safe-area-inset-top));
}



#about {
  background-color: #2f6f66;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


}
#contact {
  background-color: #55948a;
}

