#root {
  height: 100%;
  width: 100%;
  position: relative;
  --home-text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

}


.splashText  {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Imprint MT Shadow";

  width: 100%;
  color: aliceblue;
}

.splashText > p {
    margin-top: 4rem;
    margin-bottom: 3.25625rem;
    font-family: "Century Schoolbook";
    text-decoration: underline;
    text-decoration-thickness:  .2rem;
    text-underline-offset: -1.8rem;

}


.heroTextContainer {
  position: relative;
  height: 25dvh;
  width: 100dvw;
  margin: 2rem;
}

.heroText {

  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
  height: 30dvh;
  width: 100dvw;
  
}


button {
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 3rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  background-image: url("./assets/curve-button.svg");
  background-repeat: no-repeat;
  text-shadow: var(--home-text-shadow);
  transition: transform .2s ease, font-size .2s ease;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));

  color: aliceblue;
  
}

button:hover {
  cursor: pointer;
  color: #064743;
  box-shadow: inset 0 0 0 ;
  transform: scale(1.2);
  font-size: 1.25rem;
  font-weight: 500;
  background-color: aliceblue;
  border-radius: 0px 35px;
}



#home {
  background-image: url("./assets/rpedq1k2eue5cnx2rxza786m.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: center;
  align-items: center;
  text-shadow: var(--home-text-shadow);
}

#about {
  background-color: #2f6f66;
}
#contact {
  background-color: #55948a;
}

#pricing {
  background-color: #7bbbb0;
}




