
section {
  height:100vh;
  scroll-snap-align: start;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  --home-text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

}

#home {
  background-image: url("./assets/rpedq1k2eue5cnx2rxza786m.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: center;
  align-items: center;
  text-shadow: var(--home-text-shadow);
}
.splashText  {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  color: aliceblue;
}

.splashText > p {
    margin-top: 4rem;
    margin-bottom: 3.25625rem;
    font-family: Century Schoolbook;
    text-decoration: underline;
    text-decoration-thickness:  .2rem;
    text-underline-offset: -1.8rem;

}

h1 {
  width: 100%;
  margin: 0%;
  text-align: justify;

  font-size: 4rem;
  text-align: center;
  position: relative;
  font-family: Perpetua Titling MT;
}


button {
  align-self: center;
  max-width: 200px;
  width: 100%;
  height: 3rem;
  border-radius: 0 100px 0 100px;
  border: solid aliceblue;
  background: none;
  color: aliceblue;
  font-size: 1rem;
  text-shadow: var(--home-text-shadow);
  box-shadow: var(--home-text-shadow), inset var(--home-text-shadow);
;
;

}

button:hover {
  cursor: pointer;
  background: aliceblue;
  color: #064743;
  box-shadow: inset 0 0 0 ;
}



#about {
  background-color: #2f6f66;
}
#contact {
  background-color: #55948a;
}

#pricing {
  background-color: #7bbbb0;
}




