html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;

}

body {
  background: black;
  display: flex;
  height: auto;
}



html {
    scroll-snap-type: y mandatory;

}


