html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: clip;

}

body {
  background: black;
  display: flex;
  height: auto;
}



html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

section {
    scroll-snap-align: start;
    scroll-snap-stop: normal; /* Prevents overly aggressive snapping */
}
