

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  background: #2F6F66;
  display: flex;
}



section {
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

@media (max-width:600px) {
  section {
      height: 105svh;
      min-height: 700px;
  }

}

